<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Inter&display=swap"
        rel="stylesheet">

</head>

<body>
    <footer class="bg-steel text-light py-6 mt-8">
        <ul class="container mx-auto px-4 flex justify-center space-x-6">
            <a href="/about-me" class="hover:text-gold cursor-pointer">About me</a>
            <a href="https://github.com/BufferingBit" class="hover:text-gold cursor-pointer">Github</a>
            <a href="https://www.linkedin.com/in/dhruv-kumar-2a06b2229/"
                class="hover:text-gold cursor-pointer">LinkedIn</a>
        </ul>
    </footer>
</body>

</html>